<p id="notice"><%= notice %></p>

<h1>Enrollments</h1>

<%= form_for :enrollment, :remote => true, :method => 'get' do |f| %>

  <p>
    <%= f.label :course %><br>
    <%= f.text_field :course, :onkeyup => "$(this).submit();" %>
  </p>

  <p>
    <%= f.label :subject, params[:subject] %><br>
    <%= f.collection_select(:subject_id, Subject.all.order('name ASC'), :subject_id, :name, {include_blank: 'Any'}, {:onchange=>"$(this).submit();"}) %>
  </p>

  <p>
    <%= f.submit :Search, :remote => true %>
  </p>

<% end %>


  <style type="text/css">
  table
  {
      border: 15px solid white;
      padding:0 0px 0 15px;

  }
  th
  {
    padding:0 0px 0 25px;
    width: 200px;
  }
  td
  {
    padding:0 0px 0 25px;
    width: 200px;
  }
  .c1
  {
    width: 100px;
  }
  .c2
  {
    width: 100px;
  }
  .c3
  {
    width: 500px;
  }
  .c4
  {
    width: 200px;
  }
  </style>


  <table>
    <tr>
      <th class="c1">Code</th>
      <th class="c2">Name</th>
      <th class="c3">Description</th>
      <th class="c4">Requirements</th>
      <th></th>
    </tr>
  </table>

  <div id="courses">
    <%= render @courses %>
  </div>
