<h1> Search </h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Requirements</th>
    <th></th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td><%= course.code %></td>
      <td><%= course.name %></td>
      <td><%= course.description %></td>
      <td><%= course.requirements %></td>
      <td>
        <% flash.each do |key, value| %> <div class="flash <%= key %>"><%= value %></div> <% end %>
        <%= button_to 'Enroll', {:controller => "courses", :action => "enroll", :course_id => course.id,  :user_id=> session[:user_id]} , :method=>:post %>
      </td>
    </tr>
  <% end %>
</table>

<style type="text/css">
td
{
    padding:0 0px 0 15px;
}
</style>
