<h1>Course List</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Independent Study</th>
    <th>Requirements</th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td><%= course.code %></td>
      <td><%= course.name %></td>
      <td><%= course.description %></td>
      <td><%= course.independent_study %></td>
      <td><%= course.requirements %></td>
    </tr>
  <% end %>
</table>
